﻿canvas {
     position:absolute; top:0;left:0;
}

button{
    position:center; 
}

.white-popup {
    position: relative;
    /*background: #FFF;*/
    padding: 20px;
    width: 200px;
    height:100px;
    max-width: 500px;
    margin: 20px auto;
}